.summary-card {
  background-color:rgb(133, 101, 248);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.summary-card:hover {
  transform: translateY(-4px);
}

.summary-title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #e0e0e0;
}

.summary-count {
  font-size: 28px;
  font-weight: bold;
}
